body {
    color: red;
    /* background-color: green;*/
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/335/174/desktop-wallpaper-drifting-japanese-car-list-90s-jdm-computer.jpg')
}
      p {
    color:red;
}