<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ZARABOTAI POJALUSTA</title>
    <link rel="stylesheet" href="djang/style.css">
</head>
<body>

    <p class="naswai" title="noswai"> POJALUSTA UMOL9U PARAGRAF - DOLJEN BIT VIOLET </p>
    <p>SALAMY UALEUKUM - DOLJNO BIT JOLTIY</p>

    <p class="snusik" title="snusik"> DВAITE SNUSA </p>

    <audio controls>
        <source src="Slipknot_-_Dead_Memories_(musmore.com).mp3" type="audio/mpeg">
    </audio>
    <style type="text/css">
        body {
            color: white;
            background-color: black;
            background: url('https://i.gifer.com/7dD4.gif') no-repeat center center;
            background-size: 150%;
            background-size: cover;
            background-attachment: fixed;
        }

        p {
            color: yellow;
        }

        .naswai {
            color: palevioletred;
        }
    </style>



    {% block menu %}
    <ul>
        {% for m in data %}
        {% if not forloop.last %}
        <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% else %}
        <li><a href="{% url m.url_name %}">{{ m.title  }}</a></li>
        {% endif %}

        {% endfor %}
    </ul>
    {% endblock %}
</body>
{% block mainblock %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


</html>