      body {
    background-image: url('1619656984_36-oir_mobi-p-morda-olenya-zhivotnie-krasivo-foto-42.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color:gold;
    color:red;
}
      p {
    color:red;
}